<div id="blogPosts">
    <h2>Remarked Posts</h2>
    {{#each post in plainPosts}}
    <div class="postCard" id="post{{postId}}">
        <div class="titleBlock">
            <h3>{{post.title}}</h3>
        </div>
        <div class="postBody">
            <p>{{post.body}}</p>
        </div>
        <div class="footer">
            <h4>Posted by {{post.username}} on {{post.date}}</h4>
        </div>
    </div>
    {{//each}}
</div>
<script src="./js/homePage.js"></script>
