<div id="blogPosts">
    <h2>Remarked Posts</h2>
    {{#each plainPosts as |post|}}
    <div class="postCard" id="{{post.id}}">
        <div class="titleBlock">
            <h3>{{post.title}}</h3>
        </div>
        <div class="postBody">
            <p>{{post.body}}</p>
        </div>
        <div class="footer">
            <h4>Posted by {{post.user.username}} on {{post.dateCreated}}</h4>
        </div>
    </div>
    {{/each}}
</div>
<script src="/js/homePage.js"></script>
