<div id="IndivPostSection">
    <div class="postCard">
        <div class="titleBlock">
            <h3>{{queriedPost.title}}</h3>
            <h5>Posted by {{queriedPost.username}} on {{queriedPost.dateCreated}}</h5>
        </div>
        <div class="postContent">
            <p>{{queriedPost.content}}</p>
        </div>
        <div class="footer">
        </div>
    </div>
    <div class="commentContainer">
        {{#each queriedPost.comments as |comment|}}
        <div class="commentCard" id={{comment.id}} data-username={{comment.user.username}}>
            <div class="commentHeader"></div>
            <div class="commentBody">
                <p>{{comment.content}}</p>
            </div>
            <div class="commentFooter">
                <h6>{{comment.user.username}} on {{comment.dateCreated}}</h6>
            </div>
        </div>
        {{/each}}
        <div class="newComment">
            <textarea id="newCommentText" name="newCommentText"></textarea>
        </div>
        <button id="submitComment" type="submit" value="Submit"></button>
    </div>
</div>
<script src="./js/postPage.js"></script>

